body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

p span {
    color: black;
}

.top-baner {
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    margin-top: -30px;

}

.header-title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.header-font-aline {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 170px;
}

.font-aline-center {
    text-align: center;
}


.p-color {
    color: #5c5c5c;
}

.Donate-Today-style {
    font-size: 50px
}

.link-button {
    width: 10px;
    background-image: linear-gradient(#ff3e3e, #ff0000);
    padding: 12px;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: larger;

}


.donate-amout {
    display: flex;
    margin: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.half-width {
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: #5c5c5c;
}

.color-add-box {
    border: solid #ff0000 2px;
    border-radius: 5px;
    margin: px;
    color: #ff3e3e;
    background-color: #ffd4d4;
}


.button-donete {
    display: flex;
    justify-content: center;
}

.button-2 {
    padding: 15px 25px;
    background-color: #ff0000;
    border: none;
    color: white;
    font-size: 22px;
    border-radius: 5px;
}

.border-line {
    border-bottom: solid #5c5c5c 2px;
    display: flex;
    margin: 20px;
    padding-left: 40%;
    padding-right: 40%;

}

.donate-service {
    display: flex;
    padding: 5%;

}

.service-half-width {
    width: 300px;
    padding: 30px;
    text-align: left;
    margin: 30px;
}

#food-color {
    background-color: #edf5f6;
}

#family-color {
    background-color: #ffeeee;
}

#Education-color {
    background-color: #fff4d6;
}

#donate-plan {
    padding-bottom: 100px;
}

#footer-name {
    color: #b8b8b8;
}

footer {
    background-color: #0e0e0e;
    width: 100%;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;

}

#lives {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 120px;
}

#lives img {
    width: 100%;

}

.lives-half-width {
    padding-left: 5%;
    padding-right: 5%;
}